<div class="sidebar d-flex">
    <h1 class="name">Ayush verma</h1>
    <nav class="my-navbar">
        <ul class="my-menu d-flex">
            <a href="/" class="my-nav-link <% if(page_name == 'home') {%> my-active <%} %>">Home</a>
            <a href="/skill" class="my-nav-link <% if(page_name == 'skill') {%> my-active <%} %>">Skill</a>
            <a href="/services" class="my-nav-link <% if(page_name == 'services') {%> my-active <%} %>">Services</a>
            <a href="/contact" class="my-nav-link <% if(page_name == 'contact') {%> my-active <%} %>">Contact</a>

            <div class="d-flex social-media">
                <a target="_blank" href="https://github.com/AyushVerma2772/"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/ayushh-verma/"><i class="fa-brands fa-linkedin-in"></i></a>
                <a target="_blank" href="https://www.facebook.com/ayushverma.hathiwan"><i class="fa-brands fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.instagram.com/ayushh._.verma/?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram"></i></a>
            </div>
        </ul>
    </nav>
</div>
