<%- include('./partials/upperCode.ejs') %>


    <div class="d-flex main-container">

        <%- include('./partials/sidebar.ejs', {page_name: 'home'}) %>

            <div class="right-content d-flex home-page">
                <i class="fa-solid fa-bars menu-icon "></i>
                <img src="images/Aman.jpg" alt="" class="img-fluid my-image">
                <h2 class="heading-2">Namaste, I'm <span>Ayush Verma</span></h2>
                <p class="para">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque eius, fugit natus, dolores quidem asperiores quae architecto corrupti quas molestias! Odio tenetur libero eius natus temporibus cupiditate iure, repudiandae ullam repellendus, dolores necessitatibus deserunt quis. Vel praesentium earum suscipit error tempora consectetur velit nam.
                </p>

                <div class="d-flex btn-container">
                    <button type="button" class="btn btn-outline-success">Contact me</button>
                    <button type="button" class="btn btn-outline-warning">Hire me</button>
                </div>
            </div>
    </div>



    <%- include('./partials/lowerCode.ejs') %>